body{
     font-family: 'Poppins', sans-serif;
     font-family: 'Roboto Condensed', sans-serif;
     margin: 0;
}
h1{
     font-size: 40px;
}
.orange-col{
     color: orange;
}

#sect-1{
     display: flex;
     background-image: url(./images/top-banner.png);
     background-repeat: no-repeat;
}
.half-width{
     width: 50%;
     padding-top: 5%;
     padding-left: 5%;
}
.half-width img{
     width: 80%;
}
.link-btn{
     text-decoration: none;
     background-image: linear-gradient(orange, tomato);
     padding: 10px 40px;
     border-radius: 5px;
     color: white;
     font-weight: 700;
}
#sect-2{
     display: flex;
     margin-top: 100px;
     background-image: url(./images/dream-bg.png);
     background-repeat: no-repeat;
     background-position: right;
     margin-bottom: 100px;
}

#sect-3 .flexible{
     display: flex;
}
#sect-3{
     background-image: url(./images/exp-bg.png);
     background-repeat: no-repeat;
     background-position: left;
}
.sec-3head{
     text-align: center;
     margin-bottom: 80px;
     font-size: 50px;
     font-weight: 600;
}

.parts{
     width: 40%;
     margin-left: 5%;
     margin-right: 5px;
     margin-bottom: 175px;
     padding: 10px;
     border-radius: 10px;
     text-align: justify;
     box-shadow: 10px 10px 30px rgb(221, 221, 221);
}
.parts h1{
     text-align: center;
}
.parts hr{
     width: 80%;
}
#baby-st{
     border-left: 7px solid blue;
}
#full-st{
     border-left: 7px solid tomato;
}
footer p{
     text-align: center;
}